<%- include("header") -%>
<div class=box style="text-align: center;font-size: medium;font-weight:650; color: rgb(89, 148, 0);height: 30px;padding-top: 5px;margin-bottom: 0% ;margin-top:0%;">
    New user Signed Up Successfull, Now SignIn!!
</div>

<%- include("signin") -%>